body {
  /* background-color: aqua; */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* *{
    
} */
.hero h1 {
  font-size: 24px;
  font-weight: 700;
}

.hero {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroactions {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  display: inline-block;
  border: 2px solid black;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.primary {
  background-color: #0071e3;
  color: white;
}

.card {
  background-color: #ef4444;
  width: 200px;
  height: 250px;
  padding: 25px;
  margin: 2px;
}

.cards {
  display: flex;
}

.card h2 {
  font-size: 30px;
}

.cards article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px;
}

/* Mobile 1st */

/* xxl */
@media (width < 1600px) {
}

/* xl */

@media (width < 1400px) {
}

/* LG */
@media (width < 1200px) {
}

/* med */
@media (width < 992px) {
}

/* sm */
@media (width < 768px) {
}

/* xs */
@media (width < 576px) {
}
