body{
    /* background-color: aqua; */
    margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

/* *{
    
} */
 .hero h1{
font-size: 24px;
font-weight: 700;
 }

.hero{
border: 2px solid black;
padding: 20px;
margin: 10px;
height: 60vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.heroactions{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.btn{
    display: inline-block;
    border: 2px solid black;
    padding: 8px 12px;
    text-decoration: none;
    color: black;

}

.primary{
background-color: #0071e3;
color: white;
}