body {
  padding: 0px;
  margin: 0px;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-seri f;
}

.hero {
  padding: 80px 16px;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1{
  font-size: 35px;
  margin-top: 40px;
}

.hero h2{
  font-size: 20px;
margin-top: 15px;
}

.hero p{
  margin: 15px;
  width: 400px;
}

.hero div{
   margin: 40px;
   gap: 50px;
}
.cta {
  padding: 24px;
  background: rgba(255, 0, 0, 0.7);
  text-align: center;
  border-radius: 30px;
}

@media(width < 768){
  .hero p{
    width: auto
  }
}