.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url(pics/Gemini_Generated_Image_7blit17blit17bli.png);
  /* border-image-repeat: repeat; */
  color: white;
  object-fit: cover;
}
.hero h1 {
  font-size: 35px;
  font-weight: bolder;
}

.hero p {
  margin-top: 15px;
  font-size: larger;
}

.herobtn {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.btn {
  display: inline-block;
  border: 3px solid white;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background-color: green;
}

.btnone {
  background-color: blue;
}
